@use 'shared';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Libre+Baskerville&family=Nunito:wght@400;500;600;700&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Libre Baskerville', serif;
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 300px;

    font-family: 'Nunito', sans-serif;
    color: shared.$black;
}

p, h1, h2 {
    line-height: 1.5;
}

section {
    padding: shared.$verticalSectionPadding 10vw;

    @media only screen and (min-width: shared.$smallScreenWidthBreakpoint) {
        padding-right: max(10vw, 7rem);
    }
}


// STYLE MODULES

.btn-base {
    padding: .5em 1em;

    border: 1px solid shared.$black;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    background-color: white;

    text-transform: uppercase;
    color: shared.$black;
    font-size: .65rem;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn {
    @extend .btn-base;

    @media (hover: hover) {
        box-shadow: 0 0 0 1px transparent;
        transition: box-shadow .3s ease;

        &:hover {
            box-shadow: 0 0 0 1px shared.$black;
        }
    }
}

.btn2 {
    @extend .btn-base;

    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    background-color: #fff;

    &__icon {
        font-size: 1.5rem;
        color: shared.$black;

        &--png {
            width: 1.5rem;
        }
    }

    &__collapsing-content {
        overflow: hidden;
    }
}

.heading {
    text-align: center;
    margin-bottom: 1rem;

    &__header {
        font-size: 3rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
    }

    &__subheader {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        word-spacing: .1rem;
        letter-spacing: 1px;
        font-size: .875rem;
    }
}
