@use 'shared';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Merriweather', serif;
font-family: 'Libre Baskerville', serif;

*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    //border: 1px solid lightgray;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    color: shared.$black;
}

p, h1, h2 {
    line-height: 1.5;
}

section {
    padding: shared.$verticalSectionPadding 10vw;

    @media only screen and (min-width: shared.$smallScreenWidthBreakpoint) {
        padding-right: max(10vw, 7rem);
    }
}


// STYLE MODULES

.btn {
    padding: .5em 1em;

    border: 1px solid shared.$black;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    background-color: white;

    text-transform: uppercase;
    color: shared.$black;
    font-size: .65rem;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn2 {
    @extend .btn;

    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;

    background-color: #fff;

    &__icon {
        font-size: 1.5rem;
        color: shared.$black;
    }

    &__collapsing-content {
        overflow: hidden;
    }
}

.heading {
    text-align: center;
    margin-bottom: 1rem;

    &__header {
        font-size: 3rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
    }

    &__subheader {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        word-spacing: .1rem;
        letter-spacing: 1px;
        font-size: .875rem;
    }
}
