.intro {
    min-height: 95vh; // 100 - 5 for body padding
    padding-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    &__description {
        max-width: 50ch;
        font-size: 1.125rem;
    }
}