@use 'shared';

.intro {
    box-sizing: content-box; // to work with vw padding and max-width in px
    max-width: shared.$maxSectionWidth;
    margin: 0 auto;
    min-height: 100vh - (shared.$verticalSectionPadding * 2); // -20vh for padding

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    &__subtitle {
        text-align: left;
    }

    &__description {
        max-width: 50ch;
    }

    &__down-arrow-container {
        display: none;
    }

    @media only screen and (min-height: 600px) {
        &__down-arrow-container {
            display: initial;
            position: absolute;
            bottom: .75rem;
            left: 50%;

            transform: translate(-50%, 0);
        }
        &__down-arrow {
            color: gray;
            font-size: 1.5rem;
        }
    }
}