@use 'shared';

// The fade-in animations on .nav and .navToggleBtn occur regardless of mobile or desktop viewing. Even though the .nav fade-in is only visible on desktop and the .navToggleBtn only on mobile. This is done to trigger the animation-iteration-count of 1, causing the animations to not play at a later point if the window is resized.
// The fade-in animation doesn't make use of translation(), as this causes the element to which it applies to appear on the screen (even when translation effects a different dimension than the one used to move them off the viewport).

// shared styling between mobile and desktop
.nav {
    animation: fade-in .75s ease-out 4s 1 backwards;

    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;

    text-align: right;
    transition: all .3s ease, opacity .5s ease;

    &__link {
        padding: .3rem .8rem .3rem .3rem;

        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: shared.$black;
        font-size: .65rem;
        text-decoration: none;
        letter-spacing: 1px;

        background: linear-gradient(gray, gray);
        background-size: 0 2px;
        background-repeat: no-repeat;
        background-position: 100% 100%;

        transition: all .3s ease;

        &--active {
            background-size: 100% 2px;
        }

        @media (hover: hover) {
            &:hover {
                text-shadow: .5px 0 0 shared.$black, -.5px 0 0 shared.$black;
            }
        }
    }
}

.navToggleBtn {
    animation: fade-in .75s ease-out 4s 1 backwards;

    position: fixed;
    right: -100vw; // hide nav toggle button on desktop
}

// desktop styling
@media only screen and (min-width: shared.$smallScreenWidthBreakpoint) {
    .nav {
        &--hidden {
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

// mobile styling
@media only screen and (max-width: shared.$smallScreenWidthBreakpoint - 1) {
    .nav {
        height: 100%;
        padding-left: 1.5rem;

        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        background-color: shared.$sectionBackgroundColor;
        border-left: 5px solid #e1e1e1;

        &--hidden {
            opacity: 0;
            transform: translateX(7rem);
        }
    }

    .navToggleBtn {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
        cursor: pointer;
        z-index: 1;
        position: fixed;
        top: .5rem;
        right: .75rem;
        padding: 1rem;
        width: 20px;
        height: 20px;

        &__bar {
            position: absolute;
            left: 25%;
            top: 50%;
            width: 50%;
            height: 2px;

            border-radius: 1px;
            background-color: gray;

            transition: all .3s ease-out;

            &:first-child {
                transform: translateY(-3px);
            }
            &:last-child {
                transform: translateY(3px);
            }
        }

        &--active .navToggleBtn__bar {
            &:first-child {
                transform: rotate(-135deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .nav-shade {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        pointer-events: none;
        opacity: 0;
        background: white;

        &--active {
            pointer-events: auto;
            opacity: 1;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

