.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__cards-container {
        align-self: center;
        width: 100%;
        max-width: 350px;

        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        font-size: 2rem; // icon size
        color: #4b4b4b;
    }

    &__name {
        font-size: .75rem;
    }
}